################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lesson1/.vs/Lesson1/v16
/Lesson1/obj
/Lesson1/.vs/Lesson1/DesignTimeBuild
/Lesson1/bin/Debug/net5.0
/Lesson1_3/.vs/Lesson1_3
/Lesson1_3/bin/Debug/net5.0
/Lesson1_3/obj
/Lesson2/.vs/Lesson2/v16
/Lesson2/obj
